html, body{
    height: 100vh;
    background-image: url("../img/bkg.webp");
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    display: flex;
    flex-direction: column; 
}

/* header{
    width: 90%;
    height: auto;
    background-color: white;
    margin: 0 auto;
} */

.divfoto{
    /* position: relative; */
    /* bottom: 100px; */
    width: 100%;
    height: 100vh;
}

.foto{
    width: 100%;
    /* height: 90%; */
    margin: 0 auto;
    
}

.foto img{
    height: 50%;
    margin: 0 auto;
    /* position: relative; */
    /* bottom: 80px; */
   
}



.nav{
    width: 100%;
    height: 100px;
    background-color: #471B0C;
    /* position: absolute; */
    z-index: 1;

}


#logo{
    width: 15%;
    margin: 10px;
    margin-right: 0;
    z-index: 1;
}
.botoes{
    margin: 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index:2;

}
.botao{
    background-color: #FFE1D6;
    border: #FFE1D6;
    color: #471B0C;
    border-radius: 50px;
    width: 100%;
    height: 50%;
}

.botao a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #471B0C;
    font-size: 20px;
}

.botao a:hover{
    color: #FFE1D6 !important;

}
.btn:hover{
    background-color: #692712 !important;
    color: #FFE1D6;
}
.titulo{
    width: 100%;
    padding-bottom: 5px;
    height: auto;
    background-color: #471B0C;
    color: white;
    text-align: center;
}

.titulo h1{
    margin: 0 auto;
    color: white;
}

main{
    width: 100%;
    position: relative;
}
#produtos{
    margin: 20px auto;
    width: 95%;
    height: 620px;
    /* background-color: white; */
}
 /* .flex{
    display: flex;
    flex-wrap: wrap;

 } */
.btnvermais{
    margin-top: 20px;
}
.vermais{
    /* margin-top: 20px; */
    line-height: inherit;
    background-color: #FFE1D6;
    border: #FFE1D6;
    border-radius: 20px;
    color: #471B0C;
    font-size: 20px;
    /* width: 100%; */

}

.vermais a{
    text-decoration: none;
    color: #471B0C;
}

.vermais a:hover{
    /* background-color: #471B0C; */
    color: #FFE1D6;
}
.redondo{
    border-radius: 20em 20em 0 0;
    margin: 5px;
    /* height: 10px; */

}
.redondo img{
    border-radius: 20em 20em 0 0;
     /* width: ;  */
    height: 443px; 
} 

.titucard{
    text-align: center;
    font-size: 30px;
}
.altura{
    margin-top: -239px;
    margin-bottom: 0;
}

.h-100{
    height: 100% !important;
}


#eventos{
    width: 100%;
    height: 60%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.textoevento{
    width: 50%;
    height: 20%;
    /* border: 1px solid black; */
    font-size: 30px;
    margin: 1% auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe1d65e;
    border-radius: 20px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    /* font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal; */
}



.fotoevento{
    width: 85%;
    height: 70%;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagens{
    width: 30%;
    height: 40%;
    /* border: 1px solid black; */
    margin: 10px;


}

.imagens img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}

footer{
    width: 100%;

    height: 120px;
    background-color: #471B0C;
    color: #FFE1D6;
    /* position: fixed;
    bottom: 0;*/
} 
.sticky-md-bottom{
    position: relative;
}

#ctt{
    margin-left: 2%;
    padding: 5px;
    width: 30%;
    height: 100%;
    /* background-color: white; */
    display: flex;

}

.icone{
    margin: 3% 5% 0 5%;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.icone p{
    width: 80%;
    margin-left: 10px;
    white-space: nowrap;
}

.divi{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container{
    width: 100%;
    height: auto;
}

.img-text{
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #ffe1d696;
    border: 1px solid #FFE1D6;
    color: #471B0C;
    border-radius: 15px;
}

.img-text h2{
   letter-spacing: 2px;
   font-size: 25px;
}
.img-text p{
    font-family: 'IBM Plex Serif';
    font-size: 16px;
    /* text-transform: lowercase; */
}

.single-box{
    position: relative;
    margin-bottom: 30px;

}

.img-area{
    position: absolute;
    width: 130px;
    height: 130px;
    overflow: hidden;
    /* border-radius: 50%; */
    /* border: 1px solid black; */
    top: 15px;
    left: 35%;


}

.img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.carousel-indicators{
    left: 0 !important;
    top: auto !important;
    bottom: -70px !important;
}

.carousel-indicators button{
    background-color: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active{
    background-color: #000;
}




@media screen and (max-width: 1000px){
    .nav{
        height: 120px;
    }

    #logo{
        width: 20%
    }

    .foto img{
         height: 100vh;
    } 

    .botoes{
        visibility: hidden;
    }
}
